img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}
/*Start adding your CSS below!*/
div{
    height:30px;
    width:60px;
    border:2px dashed #6495ed;
    background-color:#bcd2ee;
    border-radius:155px;
    margin:auto;
    text-align:center;
}
a{
    text-decoration:none;
    color:blue;
    font-family:sans-serif;
}
